{
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "jsxSingleQuote": false,
  "plugins": ["prettier-plugin-astro", "prettier-plugin-organize-attributes", "prettier-plugin-tailwindcss"],
  "pluginSearchDirs": false,
  "printWidth": 120,
  "proseWrap": "preserve",
  "quoteProps": "preserve",
  "requirePragma": false,
  "singleAttributePerLine": false,
  "singleQuote": false,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "vueIndentScriptAndStyle": false
}
