---
import PMenu from "@components/generic/PMenu.astro";
import PSvg from "@components/generic/PSvg.astro";
import { t } from "i18next";
---

<!-- Auth Component -->
<button class="btn btn-outline" type="button">{t("components.auth.sign-in")}</button>
<PMenu>
  <button
    slot="menu-heading"
    type="button"
    id="profile-menu"
    class="btn btn-ghost btn-square"
    tabindex="0"
    title="Profile"
    aria-label="Profile"
  >
    <PSvg name="profile" svgClass="h-10" />
  </button>
  <div
    slot="menu-content"
    role="menu"
    class="dropdown-content menu bg-base-200 ltr:right-0 rtl:left-0"
    aria-labelledby="profile-menu"
  >
    <ul>
      <li><a role="menuitem" href="/">Item 1</a></li>
      <li><a role="menuitem" href="/">Item 2</a></li>
    </ul>
  </div>
</PMenu>

<script>
  import { AppStore, appStore } from "@stores/appStore";

  const loggedIn = checkLoggedIn();
  const headerComponent = "headerComponent";

  function checkLoggedIn() {
    const token = appStore.value.jwtToken;
    return token !== null;
  }

  // Elements Update
  const updateLoginElements = function updateSpeedLimitElements(): void {
    const speedUnits = appStore.value.jwtToken;

    speedLimitSelectorText2.innerHTML = speedUnits;
  };

  // View Update
  const initView = function initView(): void {
    speedUnitsSelector.setAttribute("data-p-radio-group", appStore.value.jwtToken);
  };

  const updateLoginView = function updateLoginView(newKey: string): void {
    speedUnitsSelector.setAttribute("data-p-radio-group", newKey);
  };

  // Events
  const onChangeAppStore = function onChangeAppStore(
    key: keyof AppStore,
    value: AppStore[keyof AppStore] | undefined,
    source?: string,
  ): void {
    if (source === headerComponent || typeof value === "undefined") return;

    if (key === "jwtToken") {
      const newValue = value.toString();
      updateLoginView(newValue);
    }
  };

  // Init
  initView();
  updateLoginElements();

  appStore.listen(onChangeAppStore);
</script>
