---
import PSvg from "@components/generic/PSvg.astro";
import { t } from "i18next";
---

<!-- Auth Component -->
<button class="btn btn-primary" type="button">{t("components.auth.sign-in")}</button>
<div class="dropdown dropdown-end">
  <button class="btn btn-ghost btn-square" type="button" title="Profile">
    <PSvg name="profile" svgClass="h-10" />
  </button>
  <ul tabindex="0" class="dropdown-content menu bg-base-200 w-52">
    <li><a>Item 1</a></li>
    <li><a>Item 2</a></li>
  </ul>
</div>

<script>
  import { AppStore, appStore } from "@stores/appStore";

  const loggedIn = checkLoggedIn();
  const headerComponent = "headerComponent";

  function checkLoggedIn() {
    const token = appStore.value.jwtToken;
    return token !== null;
  }

  // Elements Update
  const updateLoginElements = function updateSpeedLimitElements(): void {
    const speedUnits = appStore.value.jwtToken;

    speedLimitSelectorText2.innerHTML = speedUnits;
  };

  // View Update
  const initView = function initView(): void {
    speedUnitsSelector.setAttribute("data-p-radio-group", appStore.value.jwtToken);
  };

  const updateLoginView = function updateLoginView(newKey: string): void {
    speedUnitsSelector.setAttribute("data-p-radio-group", newKey);
  };

  // Events
  const onChangeAppStore = function onChangeAppStore(
    key: keyof AppStore,
    value: AppStore[keyof AppStore] | undefined,
    source?: string,
  ): void {
    if (source === headerComponent || typeof value === "undefined") return;

    if (key === "jwtToken") {
      const newValue = value.toString();
      updateLoginView(newValue);
    }
  };

  // Init
  initView();
  updateLoginElements();

  appStore.listen(onChangeAppStore);
</script>
