---
import PSvg from "@components/generic/PSvg.astro";
import { t } from "i18next";
---

<!-- Auth Component -->
<button class="btn btn-primary" type="button">{t("components.auth.sign-in")}</button>
<span class="tooltip tooltip-bottom before:text-xs before:content-[attr(data-tip)]" data-tip="Profile">
  <button class="dropdown dropdown-end btn btn-ghost" type="button">
    <PSvg name="profile" svgClass="h-10" />
    <ul class="dropdown-content menu p-2 bg-base-100 w-52">
      <li>Item 1</li>
      <li>Item 2</li>
    </ul>
  </button>
</span>

<script>
  import { AppStore, appStore } from "@stores/appStore";

  const loggedIn = checkLoggedIn();
  const headerComponent = "headerComponent";

  function checkLoggedIn() {
    const token = appStore.value.jwtToken;
    return token !== null;
  }

  // Elements Update
  const updateLoginElements = function updateSpeedLimitElements(): void {
    const speedUnits = appStore.value.jwtToken;

    speedLimitSelectorText2.innerHTML = speedUnits;
  };

  // View Update
  const initView = function initView(): void {
    speedUnitsSelector.setAttribute("data-p-radio-group", appStore.value.jwtToken);
  };

  const updateLoginView = function updateLoginView(newKey: string): void {
    speedUnitsSelector.setAttribute("data-p-radio-group", newKey);
  };

  // Events
  const onChangeAppStore = function onChangeAppStore(
    key: keyof AppStore,
    value: AppStore[keyof AppStore] | undefined,
    source?: string,
  ): void {
    if (source === headerComponent || typeof value === "undefined") return;

    if (key === "jwtToken") {
      const newValue = value.toString();
      updateLoginView(newValue);
    }
  };

  // Init
  initView();
  updateLoginElements();

  appStore.listen(onChangeAppStore);
</script>
