---
import PSvg from "@components/generic/PSvg.astro";
import { addTrailingSlash } from "@src/i18n";
import { localizePath } from "astro-i18next";
import { t } from "i18next";
---

<!-- Header -->
<div class="sticky flex h-8 w-full justify-center">
  <nav class="navbar w-full">
    <div class="flex flex-1 md:gap-1 lg:gap-2">
      <span class="tooltip tooltip-bottom before:text-xs before:content-[attr(data-tip)]" data-tip="Menu">
        <label for="drawer" class="btn btn-square btn-ghost drawer-button">
          <PSvg name="menu" svgClass="h-10" />
        </label>
      </span>
      <div class="flex items-center gap-2">
        <a href={addTrailingSlash(localizePath("/"))}><span class="color-text">{t("app.title-short")}</span></a>
        <div class="flex-0"></div>
      </div>
    </div>
  </nav>
</div>
