---
import PSvg from "@src/components/generic/PSvg.astro";
import { addTrailingSlash } from "@src/i18n";
import { localizePath } from "astro-i18next";
import i18next, { t } from "i18next";
import SigninProfile from "./auth/SigninProfile.astro";

const { language } = i18next;
---

<!-- Header -->
<nav class="flex h-10 w-full justify-between">
  <div class="flex flex-none">
    <div class="flex items-center gap-2">
      <a class="btn btn-ghost btn-square" href={addTrailingSlash(localizePath("/"))} title={t("pages.index.tooltip")}>
        <PSvg name="bt" svgClass="h-10" />
      </a>
      <a href={addTrailingSlash(localizePath("/"))}><span class="philosopher">{t("app.title-short")}</span></a>
    </div>
  </div>
  <div class="flex flex-1 justify-center">
    <a
      class="btn btn-ghost"
      id="stock-screener-menu"
      type="button"
      href={addTrailingSlash(localizePath("/stock-screener", language))}>{t("components.header.stock-screener")}</a
    >
  </div>
  <div class="flex flex-none">
    <SigninProfile />
  </div>
</nav>
