---
import PSvg from "@components/generic/PSvg.astro";
import { addTrailingSlash } from "@src/i18n";
import { localizePath } from "astro-i18next";
import { t } from "i18next";
import Auth from "./Auth.astro";
---

<!-- Header -->
<div class="sticky flex h-8 w-full justify-center">
  <nav class="navbar w-full">
    <div class="flex flex-1">
      <a class="btn btn-ghost btn-square" href={addTrailingSlash(localizePath("/"))} title="Home Page">
        <PSvg name="home" svgClass="h-10" />
      </a>
      <div class="flex items-center gap-2">
        <a href={addTrailingSlash(localizePath("/"))}><span>{t("app.title-short")}</span></a>
      </div>
    </div>
    <div class="flex">
      <Auth />
    </div>
  </nav>
</div>

<script>
  import { AppStore, appStore } from "@stores/appStore";

  const loggedIn = checkLoggedIn();
  const headerComponent = "headerComponent";

  function checkLoggedIn() {
    const token = appStore.value.jwtToken;
    return token !== null;
  }

  // Elements Update
  const updateLoginElements = function updateSpeedLimitElements(): void {
    const speedUnits = appStore.value.jwtToken;

    speedLimitSelectorText2.innerHTML = speedUnits;
  };

  // View Update
  const initView = function initView(): void {
    speedUnitsSelector.setAttribute("data-p-radio-group", appStore.value.jwtToken);
  };

  const updateLoginView = function updateLoginView(newKey: string): void {
    speedUnitsSelector.setAttribute("data-p-radio-group", newKey);
  };

  // Events
  const onChangeAppStore = function onChangeAppStore(
    key: keyof AppStore,
    value: AppStore[keyof AppStore] | undefined,
    source?: string,
  ): void {
    if (source === headerComponent || typeof value === "undefined") return;

    if (key === "jwtToken") {
      const newValue = value.toString();
      updateLoginView(newValue);
    }
  };

  // Init
  initView();
  updateLoginElements();

  appStore.listen(onChangeAppStore);
</script>
