---
import PSvg from "@src/components/generic/PSvg.astro";
import { changeLanguage, t } from "i18next";
import { Trans } from "astro-i18next/components";

changeLanguage("en");
---

<header class="flex flex-col items-center justify-center">
  <PSvg name="bt" svgClass="h-40" />
  <h1>
    <Trans i18nKey="components.auth.signin.header">
      Sign in to <span class="philosopher">Backtestor</span>
    </Trans>
  </h1>
  <button class="btn btn-outline" id="signin-button-msa" type="button">{t("components.auth.signin.signin-msa")}</button>
</header>

<script>
  import { Auth, AuthCodeRequest, AuthOptions, defineAuthCodeRequest } from "@src/services/auth";
  import { defineMsaAuth, defineMsaAuthOptions } from "@src/services/auth/msaAuth";
  import { Logger, defineConsoleLogger } from "@src/services/logger";

  const signInButton = document.getElementById("signin-button-msa") as HTMLElement;

  const logger: Logger = defineConsoleLogger();
  const urlParams = new URLSearchParams(window.location.search);
  const returnUrl: string = urlParams.get("return") ?? "/";

  // Functions
  const signInMsa = function signInMsa(): void {
    const options: AuthOptions = defineMsaAuthOptions(logger);
    const auth: Auth = defineMsaAuth(options);

    const request: AuthCodeRequest = defineAuthCodeRequest(returnUrl);
    auth.getAuthCode(request);
  };

  // Events
  const onClickSignInMsa = function onClickSignInMsa(event: Event): void {
    if (!event.currentTarget) return;

    signInMsa();
  };

  // Init
  signInButton.addEventListener("click", onClickSignInMsa, { passive: true });
</script>
