---
import { changeLanguage, t } from "i18next";
import { Trans } from "astro-i18next/components";

changeLanguage("en");
---

<!-- Signin Form Component -->
<header class="flex flex-col items-center justify-center">
  <h1>
    <Trans i18nKey="components.auth.signin-form.header">
      Sign in to <span class="philosopher">Backtestor</span>
    </Trans>
  </h1>
</header>
<main class="flex flex-col items-center justify-center">
  <button class="btn btn-outline" id="signin-button-msa" type="button">
    {t("components.auth.signin-form.signin-msa")}
  </button>
</main>

<script>
  import { signinMsa } from "@src/services/app/ip";

  const signinButtonMsa = document.getElementById("signin-button-msa") as HTMLElement;

  const urlParams = new URLSearchParams(window.location.search);
  const returnUrl: string = urlParams.get("return") ?? "/";

  // Events
  const onClickSigninMsa = function onClickSigninMsa(event: Event): void {
    if (!event.currentTarget) return;

    signinMsa(returnUrl);
  };

  // Init
  signinButtonMsa.addEventListener("click", onClickSigninMsa, { passive: true });
</script>
