---
import PSvg from "@src/components/generic/PSvg.astro";
import { changeLanguage, t } from "i18next";
import { Trans } from "astro-i18next/components";
import { addTrailingSlash } from "@src/i18n";
import { localizePath } from "astro-i18next";

changeLanguage("en");
---

<header class="flex flex-col items-center justify-center">
  <a href={addTrailingSlash(localizePath("/"))} title={t("pages.index.tooltip")}>
    <PSvg name="bt" svgClass="h-40" />
  </a>
  <h1>
    <Trans i18nKey="components.auth.signin.header">
      Sign in to <span class="philosopher">Backtestor</span>
    </Trans>
  </h1>
  <button class="btn btn-outline" id="signin-button-msa" type="button">{t("components.auth.signin.signin-msa")}</button>
</header>

<script>
  import { msaAuth } from "@src/services/app";
  import { defineAuthCodeRequest } from "@src/services/auth";

  const signInButton = document.getElementById("signin-button-msa") as HTMLElement;

  const urlParams = new URLSearchParams(window.location.search);
  const returnUrl: string = urlParams.get("return") ?? "/";

  // Functions
  const signInMsa = function signInMsa(): void {
    msaAuth.getAuthCode(defineAuthCodeRequest(returnUrl));
  };

  // Events
  const onClickSignInMsa = function onClickSignInMsa(event: Event): void {
    if (!event.currentTarget) return;

    signInMsa();
  };

  // Init
  signInButton.addEventListener("click", onClickSignInMsa, { passive: true });
</script>
