---
import PMenu from "@src/components/generic/PMenu.astro";
import PSvg from "@src/components/generic/PSvg.astro";
import { addTrailingSlash } from "@src/i18n";
import { localizePath } from "astro-i18next";
import i18next, { t } from "i18next";

const { language } = i18next;
---

<!-- Signin Profile Component -->
<a
  class="btn btn-outline hidden"
  id="signin-button"
  type="button"
  href=`${addTrailingSlash(localizePath("/signin", language))}?return=${addTrailingSlash(Astro.url.pathname)}`
  >{t("components.auth.signin-profile.signin")}</a
>
<PMenu>
  <button
    slot="menu-heading"
    type="button"
    id="profile-menu"
    class="btn btn-ghost btn-square hidden"
    tabindex="0"
    title="Profile"
    aria-label="Profile"
  >
    <PSvg name="profile" svgClass="h-10" />
  </button>
  <div slot="menu-content" role="menu" class="bg-base-200 ltr:right-0 rtl:left-0" aria-labelledby="profile-menu">
    <ul>
      <li><a role="menuitem" href="/">{t("components.auth.signin-profile.signout")}</a></li>
    </ul>
  </div>
</PMenu>

<script>
  import { isAuthenticated } from "@src/services/app/auth";

  const signInButton = document.getElementById("signin-button") as HTMLElement;
  const profileMenu = document.getElementById("profile-menu") as HTMLElement;

  // Elements Update
  const updateAuthElements = function updateAuthElements(): void {
    const isAuth = isAuthenticated();

    signInButton.classList.toggle("hidden", isAuth);
    profileMenu.classList.toggle("hidden", !isAuth);
  };

  // View Update
  const initView = function initView(): void {
    // Intended.
  };

  // State Update

  // Events

  // Init
  initView();
  updateAuthElements();
</script>
